@media screen and (max-width:600px){
	.location,.logo,.main-nav-list,.footer-nav,.social-icon{
		text-align:left;
	}
	.main-nav-list{
		line-height:45px;
	}
	.main-nav-list .list-inline>li{
		display:block;
	}
	.appointment-btn{
		padding:15px 0px;
	}
	h2,h3,.app-content h4{
		font-size:24px!important;
	}
	[for="menu"]>span{
		color: white;
		font-size: 36px;
		border: 1px solid white;
		position: relative;
		top: -84px;
		left: 286px;
	}
	.header-02 label{
		display:block;
		margin-bottom:-52px;
	}
	#menu:checked~.menu-show{
		display:block;
	}
	.menu-show{
		display:none;
	}
	
}
@media screen and (max-width:768px){
	.main-nav-list li{
		padding-right:0px!important;
	}
	.new{
		padding-top:0px!important;
	}
}
